<div class="jumbotron center">
  <div class="container text-center">
     <h1>Find an Affinity with Someone!</h1>
     <% if user_signed_in? %>
          <%= link_to "View Forums", forem_path, class: "btn btn-primary btn-lg" %>
     <% else %>
       <p>
         <!--<%= link_to "Log in", main_app.new_user_session_path, class: "btn btn-primary btn-lg" %>
         <%= link_to "Sign up", main_app.new_user_registration_path, class: "btn btn-primary btn-lg" %>-->
         <%= link_to "View Forums", forem_path, class: "btn btn-primary btn-lg" %>
        </p>
     <% end %>
  </div>
 </div>
   

<div class="container marketing">

  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="col-md-4 text-center">
      <img class="img-circle" src="http://placehold.it/140x140">
      <h2>Ask Questions</h2>
      <p>Find the answers to your questions and maybe someone you have something in common with.</p>
      <% if user_signed_in? %>
          <%= link_to "View Forums", forem_path, class: "btn btn-primary" %>
     <% else %>
         <%= link_to "Log in", main_app.new_user_session_path, class: "btn btn-primary" %>
     <% end %>
    </div>
    <div class="col-md-4 text-center">
      <img class="img-circle" src="http://placehold.it/140x140">
      <h2>Safe Environment</h2>
      <p>Are you kidding? This is a forum. Prepare for anonymous people to ridicule you.</p>
      <% if user_signed_in? %>
          <%= link_to "View Forums", forem_path, class: "btn btn-primary" %>
     <% else %>
         <%= link_to "Log in", main_app.new_user_session_path, class: "btn btn-primary" %>
      <% end %>
    </div>
    <div class="col-md-4 text-center">
      <img class="img-circle" src="http://placehold.it/140x140">
      <h2>Help Out</h2>
      <p>Are you a pro? Help out and moderate the forums.</p>
      <%= link_to "More...", professionals_path, class: "btn btn-primary" %>     
    </div>
  
  </div><!-- /.row -->


  <!-- START THE FEATURETTES -->

  <hr class="featurette-divider">

  <div class="featurette featurette-well-noisy">
    <img class="featurette-image img-circle pull-right" src="http://placehold.it/512">
    <h2 class="featurette-heading">What is a Forum? <span class="text-muted">It'll blow your mind.</span></h2>
    <p class="lead">In simple terms, A place to ask and anser questions that have probably been asked and answered 20 timees before somewhere else.</p>
  </div>

  <hr class="featurette-divider">

  <div class="featurette">
    <img class="featurette-image img-circle pull-left" src="http://placehold.it/512">
    <h2 class="featurette-heading">About Garth. <span class="text-muted">Really?</span></h2>
    <p class="lead">What do you want to know? Get on the forum there is nothing exciting here.</p>
  </div>

  <hr class="featurette-divider">

  <div class="featurette">
    <img class="featurette-image img-circle pull-right" src="http://placehold.it/512">
    <h2 class="featurette-heading">And lastly, <span class="text-muted">It looks good.</span></h2>
    <p class="lead">I am really impresed with myself, this homepage looks nice.</p>
  </div>

  <hr class="featurette-divider">

  <!-- /END THE FEATURETTES -->


  <!-- FOOTER -->
  <footer>
    <p class="pull-left"><a href="#">Back to top</a></p>
    <p class="pull-right"> &nbsp; ©Copyright 2013 Affinitap</p>
  </footer>

</div><!-- /.container -->

